body {
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  margin: 0px;
  /* background: linear-gradient(30deg, rgb(184, 184, 184) 0%, rgb(240, 240, 240) 100%); */
  /* background: rgb(216, 216, 216);
  font-family: 'Roboto', sans-serif; */
  min-height: 100%;
}

html {
  min-height: 100%;
}
